@keyframes pacman-move {
  0% { top: 0; }
  100% { top: 100%; }
}

.animate-pacman {
  animation: pacman-move 20s linear infinite;
  z-index: 30;
}

.punto-visitado {
  background-color: #ff6a11 !important;
  box-shadow: 0 0 0 2px #ffd36a, 0 0 10px #ff6a11;
}

/*Móviles */
@media (max-width: 767px) {
  .animate-pacman {
    left: 2.5rem !important;
    transform: translateX(25%) !important;
    animation: pacman-move-mobile 50s linear infinite;
  }

  @keyframes pacman-move-mobile {
    0% { top: 0; }
    100% { top: 100%; }
  }
}

@media (max-width: 767px) {
  .timeline {
    margin-left: 1.85rem !important;
    position: relative;
    z-index: 2;
  }

  .timeline::before {
    left: 1rem !important;
    z-index: 2;
  }
}
