
<div class="min-h-screen bg-gradient-to-b from-purple-900 to-black">
  <app-navbar/>

  <div class="flex-grow pt-10">
    <section id="home">
      <app-home />
    </section>
    <section id="video">
      <app-video />
    </section>
    <section id="aboutus">
      <app-about-us />
    </section>
    <section id="itinerary">
      <app-itinerary />
    </section>
    <section id="location">
      <app-location />
    </section>
    <section id="playlist">
      <app-playlist />
    </section>
    <section id="rsvp">
      <app-rsvp-form />
    </section>
  </div>

  <app-footer />
</div>
