<div
  class="min-h-[60vh] md:min-h-[140vh] flex items-center justify-center
         pt-2 pb-2 px-0
         bg-gradient-to-b from-purple-800 to-black"
>
  <!-- Televisor -->
  <div class="relative w-full max-w-[100vw] aspect-[4/3] md:max-w-6xl">
    <img
      src="/assets/images/tv-save-the-date-2.png"
      alt="Televisor retro"
      class="w-full h-auto block mix-blend-screen scale-y-[1.4] scale-x-[1.08]"

    />

    <!-- Pantalla del televisor -->
    <div
      class="absolute bg-black overflow-hidden rounded-[8px] aspect-video"
      style="
        left: 18%;
        width: 58%;
        top: 58%;
        transform: translateY(-50%);
      "
    >
      <iframe
        class="absolute inset-0 w-full h-full"
        src="https://www.youtube.com/embed/tSt-SMG2-_g"
        title="Save the date"
        allow="autoplay; encrypted-media; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
